<div id="body" ng-controller="gameController">
    <div id="container">
        <canvas id="thegame" width="1170" height="460"></canvas>

        <!--<span ng-controller="timerController" id="clock">{{clock}}</span>-->
        <a href="/">
            <div id="gameResult">{{gameResult}}</div>
        </a>
        <div id="btmBar">
            <img ng-controller="timerController" id="clock" src="assets/sprites/countDown/10.png" ng-src='{{clock}}' />
            <img id="hp" ng-src='{{hp}}' />
            <img id="hpL" ng-src='{{hpL}}' />
        </div>
        <div id="question">
            <div>
                <h2>{{question}}</h2>
                <button class="ansBtns">{{answer1}}</button>
                <button class="ansBtns">{{answer2}}</button>
                <button class="ansBtns">{{answer3}}</button>
            </div>
        </div>
    </div>
    <script src="assets/js/animation.js"></script>
    <!--<script src="../assets/js/animation.js"></script>-->
    <!--<script src="assets/js/questionS.js"></script>-->
</div>